.bg {
  border: 10px solid black;
  background-image: url("./assets/map.jpg");
  background-size: cover;
  overflow: hidden;
}
.player {
  position: absolute;
}
.car {
  transform-origin: center;
}
@keyframes spawnAnimation {
  0% {
    transform: scale(16);
  }
  100% {
    transform: scale(1);
  }
}
.playerName {
  position: absolute;
  transform: translate(-50%, -290%);
  white-space: nowrap;
}
.ui {
  font-size: 3rem;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
  color: rgba(54, 54, 54, 0.583);
}
