.bg {
  border: 10px solid black;
  background-image: url("./assets/map.webp");
  background-size: cover;
}
.player {
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

@keyframes spawnAnimation {
  0% {
    transform: translate(-50%, -50%) scale(16);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
.playerName {
  position: absolute;
  transform: translate(-50%, -300%);
  white-space: nowrap;
}
.ui {
  font-size: 3rem;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
  color: rgba(54, 54, 54, 0.583);
}